.cabeçalho{
    background-color: mediumslateblue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}
.cabeçalho-imagem{
    width: 20%;
}